@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Catamaran", sans-serif;
    font-size: 16px
}

/* universal css start*/
.text-orange {
    color: #E94E34;
}

.text-black {
    color: #1B0238;
}

.text-silver {
    color: #6b6b84;
}

.bg-orange {
    background: #EA512E;
}

.bg-yellow {
    background: #f5890d !important;
}

.bg-lightyellow {
    background: #fee9ca;
}

.mt-10 {
    margin-top: 100px;
}
.mt-6{height: 50px;}
.mt-7{
    margin-top: 80px;
}
.mt-15 {
    margin-top: 150px;
}

.mt-20 {
    margin-top: 200px;
}

.btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #EA512E;
    border-radius: 10px;
    transition: 1s ease;
    position: relative;
    display: inline-block;
    padding: 12px 35px;
    overflow: hidden;
}

.btn:hover {
    color: #fff;
    background: #f5890d;
}

p {
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}
/* universal css end */

/* header section start */
.mainheader {
    color: #1b0238;
    font-size: 16px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Roboto", sans-serif;
}
a.nav-link:hover,
a.dropdown-item:hover{
    color: #EA512E !important;
    transition: 0.5s all;
}
.homemenu .nav-item a.active {
    color: #EA512E !important;
}
.homemenu2{
    color: #EA512E !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
   
}
.dropdown-menu li a:hover {
    color: #EA512E 
}
.dropdown-menu{
    width: 230px;
    border: none;
    transition: all 4s ease-in-out;
    border-radius: 0px;
    box-shadow: 0px 0px 15px 0px #ccc;
}
.langmenu .dropdown-menu img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle; margin-left: 2px;
}
.dropdown-menu .dropdown-item{
    padding: 10px 20px;
}

/* header section end */
/* banner section start */
.banner {
    width: 100%;
    height: 700px;
    background: url(../img/main-banner-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.shape-1 {
    top: 3.5%;
    left: .7%;
    animation: move 2s linear alternate infinite;
}
.shape-2{
    top: 3.5%;
    left: 50%;
    animation: move2 2s linear alternate infinite;
}
.shape-3{
    top: 62%;
    z-index: 1;
    left: .7%;
    animation: move3 2s linear alternate infinite;
}
.shape-4{
    left:55%;
    z-index: 2;
    animation: move4 .7s linear  infinite;
}
.cloud{
    max-width: 100%;
    bottom: -80px;
    left: 0;
    right: 0;
    z-index: 1;
}

/* .img2{
    width: 100%;
    max-width: 100%;
    height: auto;
} */

.banner h4 {
    font-size: 16px;
    color: #ea512e;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.banner h1 {
    color: #1B0238;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Catamaran", sans-serif;
}

/* banner section end */

/* who we are section start */
.whowe span{
    font-size: 20px;
    font-weight: 600;
    color: #EA512E;
    font-family: 'Sacramento', cursive;
}
.whowe h3{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.whowe ul li{
    color: #1b0238;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
}
.whowe ul li span{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #EA512E;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    transition:all 0.9s ease-in;
    font-family: "Roboto", sans-serif;
}
.whowe ul li:hover span{
    background-color: #f5890d;
    transition:all 0.9s ease-in;
}
.who-shape{
    position: absolute;
    right: 5%;
    top:75px ;
    transform: translateX(-5%);
    /* top: 35px;
    max-width: 120px;
    animation: moveLeftBounce 3s linear infinite; */
}
.who-shape img{
    height: 150px;
    width: 100%;

}
/* who we are section end */


@keyframes move {
    0% {}

    100% {
        left: 2%;
    }
}
@keyframes move2 {
    0%{}
    100%{
        left: 52.5%;
    }
    
}
@keyframes move3 {
    0%{}
    100%{
        left: 2%;
    }
}
@keyframes move4 {
    0%{}
    100%{
        bottom: 2%;
    }
}
